FUNCTION DEFINITION & CALLING

In [1]:
# basic function
def greet():
    print("Hello, World!")
    
greet()

Hello, World!

In [3]:
# function with parameter
def greet(name):
    print("Hello,", name)

greet("Tanish")

Hello, Tanish

In [4]:
# function with return value
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

In [6]:
# function that returns multiple values
def calculate(a, b):
    return a + b, a - b, a * b

add, diff, prod = calculate(10, 5)
print(add, diff, prod)

15 5 50

In [7]:
# function calling another function
def square(x):
    return x * x

def cube(x):
    return square(x) * x

print(cube(3))

27

PARAMETERS

In [8]:
# positional arguments
def power(a, b):
    return a ** b

print(power(2, 3))

8

In [9]:
# keyword arguments
print(power(b=3, a=2))

8

In [10]:
# default parameters
def greet(name="Guest"):
    print("Hello", name)

greet()
greet("Tanish")

Hello Guest
Hello Tanish

In [11]:
# variable length arguments (*args)
def total(*numbers):
    return sum(numbers)

print(total(1, 2, 3, 4))

10

In [13]:
# keyword variable length arguments (*kwargs)
def student_info(**details):
    for key, value in details.items():
        print(key, ":", value)

student_info(name="Tanish", age=21, course="Python")

name : Tanish
age : 21
course : Python

RETURN STATEMENT

In [15]:
# return without value
def show():
    print("Displayed")
    return

show()

Displayed

In [16]:
# conditional return
def check_even(n):
    if n % 2 == 0:
        return "Even"
    return "Odd"

print(check_even(7))

Odd

SCOPE OF VARIABLES

In [17]:
# local scope
def func():
    x = 10
    print(x)

func()

10

In [19]:
# global scope
x = 20
def show():
    print(x)

show()

20

In [20]:
# global keyword
count = 0

def increment():
    global count
    count += 1

increment()
print(count)

1

In [21]:
# non-local scope
def outer():
    x = 5
    def inner():
        nonlocal x
        x += 1
    inner()
    print(x)

outer()

6

STRING OPERATIONS

In [22]:
# string creation
s1 = "Python"
s2 = 'Programming'
s3 = """Multiline String"""

In [23]:
# indexing
s = "Python"
print(s[0])
print(s[-1])

P
n

In [24]:
# slicing
print(s[0:4])
print(s[:3])
print(s[::2])
print(s[::-1])

Pyth
Pyt
Pto
nohtyP

In [25]:
# string concatenation
a = "Data"
b = "Science"
print(a + " " + b)

Data Science

In [27]:
# string repetition
print("lala" * 5)

lalalalalalalalalala

In [28]:
# membership operators
print("Py" in "Python")
print("Java" not in "Python")

True
True

In [29]:
# case-conversion
text = "Tanish"

print(text.upper())
print(text.lower())
print(text.title())
print(text.capitalize())

TANISH
tanish
Tanish
Tanish

In [30]:
# whitespace removal
msg = "  hello  "

print(msg.strip())
print(msg.lstrip())
print(msg.rstrip())

hello
hello
  hello

In [31]:
# search and replace
sentence = "I love Python"

print(sentence.find("Python"))
print(sentence.replace("Python", "Coding"))

7
I love Coding

In [32]:
# splitting and joining
words = "Python is easy".split()
print(words)

joined = "-".join(words)
print(joined)

['Python', 'is', 'easy']
Python-is-easy

In [33]:
# checking string properties
print("abc".isalpha())
print("123".isdigit())
print("abc123".isalnum())

True
True
True

In [35]:
# string formatting using format()
name = "Tanish"
age = 21

print("My name is {} and I am {}".format(name, age))

My name is Tanish and I am 21

In [36]:
# indexed formatting
print("Age: {1}, Name: {0}".format(name, age))

Age: 21, Name: Tanish

In [37]:
# named formatting
print("Name: {n}, Age: {a}".format(n=name, a=age))

Name: Tanish, Age: 21

In [38]:
# f-strings
print(f"My name is {name} and I am {age}")

My name is Tanish and I am 21

In [39]:
# formatting numbers
pi = 3.14159
print(f"{pi:.2f}")

3.14