GROUPBY

In [1]:
# import library
import pandas as pd

In [4]:
# create dataframe
data = {
    "Department": ["IT", "HR", "IT", "HR", "Finance", "IT"],
    "Employee": ["A", "B", "C", "D", "E", "F"],
    "Salary": [50000, 40000, 60000, 45000, 70000, 55000]
}

In [5]:
df = pd.DataFrame(data)

In [16]:
# df.groupby(key)[column_name].agg_operation
df.groupby("Department")["Salary"].mean()

Department
Finance    70000.0
HR         42500.0
IT         55000.0
Name: Salary, dtype: float64

In [15]:
# df.groupby(key)[column_name].agg([list_of_operations)]
df.groupby("Department")["Salary"].agg(["mean", "median", "max", "min"])

               mean   median    max    min
Department
Finance     70000.0  70000.0  70000  70000
HR          42500.0  42500.0  45000  40000
IT          55000.0  55000.0  60000  50000

In [17]:
# df.groupby(key).agg({column_name: [agg_operations]})
df.groupby("Department").agg({
    "Salary": ["mean", "sum"],
    "Employee": "count"
})

             Salary         Employee
               mean     sum    count
Department
Finance     70000.0   70000        1
HR          42500.0   85000        2
IT          55000.0  165000        3

In [18]:
# df.groupby(key).agg(new_column_name=(old_name, agg_operation))
df.groupby("Department").agg(
    avg_salary=("Salary", "mean"),
    total_salary=("Salary", "sum"),
    employee_count=("Employee", "count")
)

            avg_salary  total_salary  employee_count
Department
Finance        70000.0         70000               1
HR             42500.0         85000               2
IT             55000.0        165000               3

In [19]:
# df.groupby([list_of_keys])[column_name].agg_operation
df.groupby(["Department", "Employee"])["Salary"].sum()

Department  Employee
Finance     E           70000
HR          B           40000
            D           45000
IT          A           50000
            C           60000
            F           55000
Name: Salary, dtype: int64

In [20]:
# using apply() to create custom aggregate functions
df.groupby("Department").apply(lambda x: x["Salary"].max() - x["Salary"].min())

C:\Users\Balvi\AppData\Local\Temp\ipykernel_34760\1707490461.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Department").apply(lambda x: x["Salary"].max() - x["Salary"].min())

Department
Finance        0
HR          5000
IT         10000
dtype: int64

In [21]:
# using transform() for keeping the same number of rows as original data after groupby
df["Dept_Avg_Salary"] = df.groupby("Department")["Salary"].transform("mean")
print(df["Dept_Avg_Salary"])

0    55000.0
1    42500.0
2    55000.0
3    42500.0
4    70000.0
5    55000.0
Name: Dept_Avg_Salary, dtype: float64

In [22]:
# using filter() to filter data after groupby based on condition
df.groupby("Department").filter(lambda x: x["Salary"].mean() > 50000)

  Department Employee  Salary  Dept_Avg_Salary
0         IT        A   50000          55000.0
2         IT        C   60000          55000.0
4    Finance        E   70000          70000.0
5         IT        F   55000          55000.0