In [1]:
import pandas as pd

PANDAS SERIES

In [ ]:
# creating series with index labels
a = [1,2,3,4,5]
series = pd.Series(a)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# using index to access elements of series
print(series[3])

4

In [5]:
# creating labels
a = [1,3,5]
ser = pd.Series(a, index=["a", "b", "c"])
print(ser)

a    1
b    3
c    5
dtype: int64

In [6]:
# dictionary for series
calories = {"day1": 420, "day2": 380, "day3": 390}
ser = pd.Series(calories)
print(ser)

day1    420
day2    380
day3    390
dtype: int64

In [8]:
calories = {"day1": 420, "day2": 380, "day3": 390}
ser = pd.Series(calories, index = ["day1", "day3"])
print(ser)

day1    420
day3    390
dtype: int64

PANDAS DATAFRAME

In [9]:
# creating dataframes
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [11]:
# locating rows
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

In [13]:
print(df.loc[[0,2]])

   calories  duration
0       420        50
2       390        45

In [14]:
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [15]:
print(df.loc["day3"])

calories    390
duration     45
Name: day3, dtype: int64

WORKING WITH CSV DATASET

In [16]:
df = pd.read_csv("student_depression_dataset.csv")
print(df.head(5))

   id  Gender   Age           City Profession  Academic Pressure  \
0   2    Male  33.0  Visakhapatnam    Student                5.0
1   8  Female  24.0      Bangalore    Student                2.0
2  26    Male  31.0       Srinagar    Student                3.0
3  30  Female  28.0       Varanasi    Student                3.0
4  32  Female  25.0         Jaipur    Student                4.0

   Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0            0.0  8.97                 2.0               0.0
1            0.0  5.90                 5.0               0.0
2            0.0  7.03                 5.0               0.0
3            0.0  5.59                 2.0               0.0
4            0.0  8.13                 3.0               0.0

        Sleep Duration Dietary Habits   Degree  \
0          '5-6 hours'        Healthy  B.Pharm
1          '5-6 hours'       Moderate      BSc
2  'Less than 5 hours'        Healthy       BA
3          '7-8 hours'       Moderate      BCA
4          '5-6 hours'       Moderate   M.Tech

  Have you ever had suicidal thoughts ?  Work/Study Hours Financial Stress  \
0                                   Yes               3.0              1.0
1                                    No               3.0              2.0
2                                    No               9.0              1.0
3                                   Yes               4.0              5.0
4                                   Yes               1.0              1.0

  Family History of Mental Illness  Depression
0                               No           1
1                              Yes           0
2                              Yes           0
3                              Yes           1
4                               No           0

In [18]:
# data selection using loc
df.loc[4]       # row

id                                                32
Gender                                        Female
Age                                             25.0
City                                          Jaipur
Profession                                   Student
Academic Pressure                                4.0
Work Pressure                                    0.0
CGPA                                            8.13
Study Satisfaction                               3.0
Job Satisfaction                                 0.0
Sleep Duration                           '5-6 hours'
Dietary Habits                              Moderate
Degree                                        M.Tech
Have you ever had suicidal thoughts ?            Yes
Work/Study Hours                                 1.0
Financial Stress                                 1.0
Family History of Mental Illness                  No
Depression                                         0
Name: 4, dtype: object

In [20]:
df.loc[[4,10]]            # multiple rows

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
10,83,Male,24.0,Nagpur,Student,3.0,0.0,6.10,3.0,0.0,'5-6 hours',Moderate,'Class 12',Yes,11.0,1.0,Yes,1

In [21]:
df.loc[5:9, ["CGPA", "Academic Pressure"]]

   CGPA  Academic Pressure
5  5.70                2.0
6  9.54                3.0
7  8.04                2.0
8  9.79                3.0
9  8.38                2.0

In [23]:
df.loc[df["Age"]<25, ["Profession", "Depression"]]

      Profession  Depression
1        Student           0
10       Student           1
13       Student           0
14       Student           1
17       Student           1
...          ...         ...
27888    Student           1
27892    Student           0
27893    Student           0
27894    Student           0
27899    Student           1

[12173 rows x 2 columns]

In [24]:
# data selection using iloc
df.iloc[3]

id                                                30
Gender                                        Female
Age                                             28.0
City                                        Varanasi
Profession                                   Student
Academic Pressure                                3.0
Work Pressure                                    0.0
CGPA                                            5.59
Study Satisfaction                               2.0
Job Satisfaction                                 0.0
Sleep Duration                           '7-8 hours'
Dietary Habits                              Moderate
Degree                                           BCA
Have you ever had suicidal thoughts ?            Yes
Work/Study Hours                                 4.0
Financial Stress                                 5.0
Family History of Mental Illness                 Yes
Depression                                         1
Name: 3, dtype: object

In [27]:
df.iloc[34:45, 0:6]         # [rows, columns]

     id  Gender   Age       City Profession  Academic Pressure
34  242    Male  21.0      Surat    Student                1.0
35  253  Female  25.0   Ludhiana    Student                1.0
36  255  Female  21.0     Bhopal    Student                5.0
37  263    Male  28.0   Srinagar    Student                5.0
38  270    Male  28.0      Thane    Student                1.0
39  273    Male  25.0     Meerut    Student                3.0
40  274  Female  20.0      Thane    Student                3.0
41  277    Male  23.0       Agra    Student                2.0
42  280    Male  19.0       Agra    Student                1.0
43  285  Female  33.0  Ghaziabad    Student                4.0
44  294  Female  23.0    Chennai    Student                1.0

In [28]:
df.iloc[[32,48,64], [2,4,5]]

     Age Profession  Academic Pressure
32  21.0    Student                1.0
48  21.0    Student                3.0
64  20.0    Student                5.0

In [29]:
df[df["Age"]<20]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,6.0,2.0,Yes,0
14,103,Female,19.0,Kalyan,Student,5.0,0.0,5.64,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,4.0,5.0,Yes,1
18,139,Male,19.0,Chennai,Student,2.0,0.0,7.83,2.0,0.0,'7-8 hours',Unhealthy,'Class 12',No,6.0,3.0,No,0
24,173,Male,18.0,Bangalore,Student,4.0,0.0,7.10,3.0,0.0,'More than 8 hours',Unhealthy,'Class 12',Yes,11.0,5.0,Yes,1
30,222,Male,18.0,Surat,Student,4.0,0.0,6.70,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,5.0,4.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27877,140545,Male,19.0,Pune,Student,2.0,0.0,6.33,5.0,0.0,'More than 8 hours',Healthy,'Class 12',Yes,12.0,2.0,Yes,0
27884,140594,Male,18.0,Meerut,Student,5.0,0.0,6.25,3.0,0.0,'7-8 hours',Unhealthy,'Class 12',No,11.0,2.0,Yes,1
27885,140597,Female,19.0,Mumbai,Student,2.0,0.0,9.21,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,3.0,2.0,No,0
27888,140630,Male,19.0,Kolkata,Student,4.0,0.0,7.13,1.0,0.0,'More than 8 hours',Moderate,'Class 12',No,10.0,2.0,No,1
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1

In [30]:
df[(df["Age"]<20) & (df["City"] == "Bangalore")]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
24,173,Male,18.0,Bangalore,Student,4.0,0.0,7.10,3.0,0.0,'More than 8 hours',Unhealthy,'Class 12',Yes,11.0,5.0,Yes,1
333,1623,Female,18.0,Bangalore,Student,3.0,0.0,5.85,2.0,0.0,'7-8 hours',Healthy,'Class 12',No,12.0,1.0,Yes,1
505,2629,Female,19.0,Bangalore,Student,3.0,0.0,8.35,2.0,0.0,'5-6 hours',Healthy,'Class 12',No,9.0,4.0,Yes,0
736,3801,Male,18.0,Bangalore,Student,5.0,0.0,8.52,4.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,10.0,5.0,Yes,1
1414,7266,Female,18.0,Bangalore,Student,5.0,0.0,6.00,5.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',Yes,6.0,5.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25712,129584,Female,19.0,Bangalore,Student,2.0,0.0,5.45,5.0,0.0,'More than 8 hours',Unhealthy,'Class 12',Yes,12.0,4.0,No,1
26347,132867,Male,18.0,Bangalore,Student,4.0,0.0,5.66,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,4.0,2.0,No,0
26365,132996,Male,19.0,Bangalore,Student,1.0,0.0,7.77,2.0,0.0,'More than 8 hours',Moderate,'Class 12',Yes,3.0,2.0,No,0
26685,134655,Female,19.0,Bangalore,Student,1.0,0.0,5.32,2.0,0.0,'Less than 5 hours',Moderate,'Class 12',No,3.0,2.0,Yes,0
26925,135803,Male,18.0,Bangalore,Student,1.0,0.0,7.15,5.0,0.0,'More than 8 hours',Moderate,'Class 12',No,7.0,5.0,No,0

In [33]:
df.query("Age<20 and City == 'Ludhiana'")

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
477,2431,Female,19.0,Ludhiana,Student,4.0,0.0,5.56,1.0,0.0,'More than 8 hours',Healthy,'Class 12',No,0.0,4.0,Yes,0
484,2474,Male,18.0,Ludhiana,Student,3.0,0.0,8.08,5.0,0.0,'7-8 hours',Unhealthy,'Class 12',Yes,5.0,5.0,Yes,1
578,2999,Male,18.0,Ludhiana,Student,5.0,0.0,5.56,1.0,0.0,'5-6 hours',Moderate,'Class 12',Yes,10.0,2.0,No,1
796,4092,Female,18.0,Ludhiana,Student,5.0,0.0,6.75,3.0,0.0,'More than 8 hours',Unhealthy,'Class 12',Yes,11.0,4.0,No,1
938,4862,Male,19.0,Ludhiana,Student,5.0,0.0,9.67,1.0,0.0,'More than 8 hours',Moderate,'Class 12',Yes,4.0,2.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27488,138625,Female,19.0,Ludhiana,Student,3.0,0.0,9.94,4.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,0.0,5.0,No,1
27521,138774,Male,19.0,Ludhiana,Student,3.0,0.0,7.38,4.0,0.0,'7-8 hours',Healthy,'Class 12',Yes,3.0,3.0,No,0
27684,139572,Female,18.0,Ludhiana,Student,4.0,0.0,8.74,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',Yes,10.0,4.0,No,1
27858,140438,Female,18.0,Ludhiana,Student,3.0,0.0,8.24,4.0,0.0,'5-6 hours',Healthy,'Class 12',No,6.0,5.0,Yes,1
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1

In [38]:
# boolean indexing
mask = df["CGPA"] > 8.5
df[mask]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,'7-8 hours',Healthy,BSc,No,1.0,2.0,No,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,'7-8 hours',Moderate,B.Ed,Yes,12.0,3.0,No,1
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,6.0,2.0,Yes,0
15,106,Male,29.0,Srinagar,Student,3.0,0.0,8.58,3.0,0.0,'More than 8 hours',Moderate,M.Tech,Yes,10.0,2.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27885,140597,Female,19.0,Mumbai,Student,2.0,0.0,9.21,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,3.0,2.0,No,0
27886,140601,Female,22.0,Jaipur,Student,5.0,0.0,9.25,4.0,0.0,'More than 8 hours',Unhealthy,BBA,Yes,8.0,3.0,No,1
27887,140624,Male,32.0,Rajkot,Student,4.0,0.0,9.19,1.0,0.0,'5-6 hours',Healthy,MSc,No,7.0,4.0,Yes,1
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,'Less than 5 hours',Healthy,BCA,Yes,2.0,3.0,Yes,1

In [39]:
df.loc[df["Depression"] == 1, ["Age", "City", "Depression"]]

        Age           City  Depression
0      33.0  Visakhapatnam           1
3      28.0       Varanasi           1
8      28.0         Nagpur           1
9      31.0         Nashik           1
10     24.0         Nagpur           1
...     ...            ...         ...
27887  32.0         Rajkot           1
27888  19.0        Kolkata           1
27891  28.0          Thane           1
27899  18.0       Ludhiana           1
27900  27.0          Patna           1

[16336 rows x 3 columns]

In [40]:
df[~(df["City"] == "Patna")]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,'5-6 hours',Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,'Less than 5 hours',Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,'7-8 hours',Moderate,B.Com,Yes,6.0,1.0,Yes,0
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,'5-6 hours',Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1

In [42]:
df[df["City"].isin(["Ludhiana", "Bangalore"])]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
24,173,Male,18.0,Bangalore,Student,4.0,0.0,7.10,3.0,0.0,'More than 8 hours',Unhealthy,'Class 12',Yes,11.0,5.0,Yes,1
35,253,Female,25.0,Ludhiana,Student,1.0,0.0,6.37,3.0,0.0,'7-8 hours',Moderate,B.Pharm,Yes,2.0,2.0,No,0
59,347,Female,24.0,Ludhiana,Student,3.0,0.0,5.60,1.0,0.0,'Less than 5 hours',Healthy,MBBS,Yes,9.0,2.0,No,1
65,385,Male,21.0,Ludhiana,Student,2.0,0.0,7.38,5.0,0.0,'Less than 5 hours',Healthy,MA,Yes,2.0,5.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27847,140384,Female,27.0,Ludhiana,Student,4.0,0.0,6.75,4.0,0.0,'7-8 hours',Unhealthy,B.Com,No,11.0,5.0,No,1
27858,140438,Female,18.0,Ludhiana,Student,3.0,0.0,8.24,4.0,0.0,'5-6 hours',Healthy,'Class 12',No,6.0,5.0,Yes,1
27890,140635,Male,28.0,Ludhiana,Student,3.0,0.0,5.03,3.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,6.0,2.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,'Less than 5 hours',Healthy,MSc,No,0.0,3.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1

In [43]:
df[df["Age"].between(20, 25)]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
10,83,Male,24.0,Nagpur,Student,3.0,0.0,6.10,3.0,0.0,'5-6 hours',Moderate,'Class 12',Yes,11.0,1.0,Yes,1
16,120,Male,25.0,Nashik,Student,5.0,0.0,6.51,2.0,0.0,'Less than 5 hours',Unhealthy,M.Ed,Yes,2.0,5.0,Yes,1
17,132,Female,20.0,Ahmedabad,Student,5.0,0.0,7.25,3.0,0.0,'5-6 hours',Healthy,'Class 12',Yes,10.0,3.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27883,140584,Female,22.0,Kanpur,Student,4.0,0.0,6.61,2.0,0.0,'More than 8 hours',Unhealthy,M.Com,Yes,6.0,5.0,No,1
27886,140601,Female,22.0,Jaipur,Student,5.0,0.0,9.25,4.0,0.0,'More than 8 hours',Unhealthy,BBA,Yes,8.0,3.0,No,1
27892,140669,Female,20.0,Indore,Student,3.0,0.0,7.72,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,8.0,1.0,No,0
27893,140672,Female,24.0,Hyderabad,Student,3.0,0.0,6.02,2.0,0.0,'7-8 hours',Moderate,B.Arch,No,8.0,2.0,No,0
27894,140681,Male,23.0,Srinagar,Student,3.0,0.0,6.00,2.0,0.0,'More than 8 hours',Healthy,MBBS,Yes,12.0,4.0,No,0

In [44]:
# string based filtering
df[df["Gender"].str.startswith("F")]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,'5-6 hours',Moderate,BSc,No,3.0,2.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,'7-8 hours',Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,'5-6 hours',Moderate,M.Tech,Yes,1.0,1.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,0.0,1.0,Yes,0
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,6.0,2.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27891,140645,Female,28.0,Thane,Student,4.0,0.0,7.77,3.0,0.0,'Less than 5 hours',Unhealthy,MSc,No,2.0,5.0,No,1
27892,140669,Female,20.0,Indore,Student,3.0,0.0,7.72,5.0,0.0,'Less than 5 hours',Moderate,'Class 12',Yes,8.0,1.0,No,0
27893,140672,Female,24.0,Hyderabad,Student,3.0,0.0,6.02,2.0,0.0,'7-8 hours',Moderate,B.Arch,No,8.0,2.0,No,0
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,7.0,1.0,Yes,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,'Less than 5 hours',Healthy,'Class 12',Yes,10.0,5.0,No,1

In [45]:
df[df["City"].str.contains("C")]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,'Less than 5 hours',Unhealthy,'Class 12',No,0.0,1.0,Yes,0
18,139,Male,19.0,Chennai,Student,2.0,0.0,7.83,2.0,0.0,'7-8 hours',Unhealthy,'Class 12',No,6.0,3.0,No,0
44,294,Female,23.0,Chennai,Student,1.0,0.0,7.85,4.0,0.0,'More than 8 hours',Unhealthy,BE,No,12.0,5.0,No,0
121,660,Male,22.0,Chennai,Student,5.0,0.0,8.81,1.0,0.0,'Less than 5 hours',Unhealthy,MCA,No,8.0,1.0,Yes,1
206,1003,Male,20.0,Chennai,Student,2.0,0.0,8.93,2.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,10.0,5.0,Yes,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27686,139578,Male,28.0,Chennai,Student,5.0,0.0,8.59,2.0,0.0,'5-6 hours',Unhealthy,M.Tech,Yes,12.0,5.0,No,1
27845,140362,Male,30.0,Chennai,Student,4.0,0.0,8.95,5.0,0.0,'7-8 hours',Healthy,B.Arch,No,5.0,2.0,No,0
27852,140395,Male,19.0,Chennai,Student,3.0,0.0,7.64,4.0,0.0,'5-6 hours',Unhealthy,'Class 12',Yes,10.0,5.0,No,1
27866,140503,Male,22.0,Chennai,Student,2.0,0.0,5.77,1.0,0.0,'5-6 hours',Unhealthy,M.Tech,No,10.0,1.0,No,0
27868,140507,Female,33.0,Chennai,Student,5.0,0.0,5.86,3.0,0.0,'Less than 5 hours',Unhealthy,BCA,Yes,12.0,5.0,Yes,1